html {
  overflow: hidden;
}

body {
  border: 2px solid black;
  padding: 0.25vh;
  margin: 0;
  background-color: lightgray;
  height: 100vh;
}

#mainHeader {
  height: 15vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5vh;
  border: 1px solid black;
  line-height: 10vh;
  margin: 0;
  background-color: rgb(126, 139, 139);
}

nav {
  margin: 0vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.25vh;
}
nav > * {
  font-size: 3vh;
  padding: 0;
}

.invisible {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

#newBookmark {
  width: 70vw;
}

main {
  background-color: antiquewhite;
  margin: 0;
  height: 80vh;
  padding: 0.25vh;
  border: 1px solid rgb(71, 71, 71);
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  margin: 0.25vh 0.25vw;
  padding-left: 0;
}

li {
  margin-top: 0.25vh;
  background-color: lightgray;
  border: 1px solid black;
}

h2 {
  padding: 0px;
  margin: 1vh 1vw;
  text-overflow: ellipsis;
  max-width: 70vw;
  overflow: hidden;
  white-space: nowrap;
}

*/ .bookmarkBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: inherit;
}

.expandedWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expandedHeader {
  display: flex;
  border: 1px solid black;
  background-color: gray;
}

.expandedFooter {
  margin: 1vh 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91vw;
  margin-top: 0vh;
}

.visitSite {
  border: 1px solid rgb(32, 32, 32);
  width: 60vw;
  font-size: 2vh;
  line-height: 5vh;
  height: 5vh;
  margin: 0;
  padding: 0vh;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: rgb(165, 165, 165);
}

#addCreate {
  width: 70vw;
}

.trashCan {
  padding: 0.5vh;
  font-size: 3vh;
  background-color: rgb(132, 132, 132);
  border: 2px solid rgb(65, 65, 65);
}

.description {
  height: 40vh;
  background-color: rgb(236, 236, 236);
  margin: 1vh 1vw;
  width: 91vw;
  border: 1px solid gray;
  overflow: hidden;
  overflow-y: auto;
}

.rating {
  font-size: 3vh;
  margin: 0.5vh 0.5vw;
  white-space: nowrap;
  background-color: rgba(255, 255, 0, 0.1);
  border: 1px solid rgb(85, 85, 0);
  width: auto;
}

#addRating {
  font-size: 3vh;
}

.addCreate {
  width: 70vh;
  border: 2px solid black;
}

header .expanded {
  height: 3vh;
}

.expanded {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.checked {
  color: orange;
}

#addDescription {
  width: 93vw;
  margin: 0.5vh 0.5vw;
  resize: vertical;
  max-height: 56vh;
}

h3 {
  display: inline;
  line-height: 5vh;
  padding: 0px;
  margin: 0px;
  max-width: 45vw;
}

#addCancel {
  position: absolute;
  bottom: 4vh;
  left: 2.75vw;
  width: 93vw;
  margin: 0.5vh 0.5vw;
  padding: 0;
  line-height: 4vh;
}

#addHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93vw;
  margin: 0.5vh 0.5vw;
}

#addWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addURL {
  width: 93vw;
  margin: 0.5vh 0.5vw;
}

#addTitle {
  width: 93vw;
  margin: 0.5vh 0.5vw;
}

.js-error-message {
  font-size: 2vh;
  color: rgb(175, 0, 0);
  text-align: center;
  align-items: center;
  height: 3.5vh;
}

@media screen and (min-width: 550px) {
}
