body {
  border: 2px solid black;
  padding: 0.25vh;
  margin: 0;
  background-color: lightgray;
  height: 99vh;
}

#mainHeader {
  height: 15vh;
  font-size: x-large;
  text-align: center;
  margin: 2hv;
  padding: 2hv;
}

h1 {
  font-size: 5vh;
  border: 1px solid black;
  line-height: 10vh;
  margin: 0;
  background-color: rgb(126, 139, 139);
}

nav {
  margin: 0vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.25vh;
}
nav > * {
  font-size: 3vh;
}

button {
  width: 70vh;
}

main {
  background-color: antiquewhite;
  margin: 0;
  height: 80vh;
}

ul {
  list-style-type: none;
  margin: 0.25vh;
  padding-left: 0px;
}

li > * {
  border: 1px solid rgb(5, 5, 5);
  font-size: 2.5vh;
}

h2 {
  padding: 0px;
  margin: 1vh;
}

.bookmarkShort {
  margin: 0.25vh;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: inherit;
}

header .expanded {
  height: 3vh;
}

.rating {
  border: 1px solid yellow;
}

.short {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  background-color: lightgray;
}

.expandedWindow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 99%;
  margin-top: 2px;
}

.expandedWindow .stars {
  font-size: 36;
}

.description {
  font-size: 18px;
  height: 80%;
  overflow: scroll;
}

.expanded {
  background-color: lightgray;
}

.expandedHeader {
  margin: 0;
  padding: 1%;
  display: flex;
  border: 1px solid black;
  width: 97%;
  background-color: rgb(55, 60, 66);
  justify-content: space-between;
  font-size: 24px;
  color: white;
}

.addStars {
  font-size: 32px;
  width: 50%;
}

h3 {
  font-size: 16px;
  padding: 0;
}

.checked {
  color: orange;
}
